.changelog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changelog-item {
  --width: 90%;
}

@media (min-width: 1080px) {
  .changelog-item {
    --width: 60%;
  }
}

.changelog-item {
  --changelog-top-bottom-padding: 2rem;

  padding: var(--changelog-top-bottom-padding) 0.5rem;
  position: relative;
  width: var(--width);
  margin-left: 2rem;
}

/* --- Line for the timeline --- */
.changelog-item::before {
  content: '';
  border: 2px solid lightgray;
  position: absolute;
  left: -1rem;
  top: 0;
  height: 100%;
}

.changelog-item:first-of-type::before {
  top: calc(var(--changelog-top-bottom-padding) + 0.5rem);
  height: calc(100% - 1rem);
}

.changelog-item:last-of-type::before {
  height: calc(var(--changelog-top-bottom-padding) + 0.5rem);
}

/* --- Points for the timeline --- */
.major {
  --size: 1.6rem;
  --color: gray;
}

.minor {
  --size: 1.4rem;
  --color: lightgray;
}

.patch {
  --size: 0.8rem;
  --color: lightgray;
}

.changelog-item::after {
  background-color: var(--color);
  content: ' ';
  position: absolute;
  left: calc(-1rem + 2px - var(--size) / 2);
  top: calc(var(--changelog-top-bottom-padding) + 0.8rem - var(--size) / 2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition-duration: 300ms;
}

.changelog-item:hover::after {
  background-color: var(--primary-color-a);
}

/* --- Changelog items --- */
.changelog-version {
  position: absolute;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'Proza Libre', sans-serif;
}

.changelog-date {
  position: absolute;
  top: calc(var(--changelog-top-bottom-padding) + 2rem);
  font-size: 0.8rem;
}

.changelog-description {
  text-align: left;
  padding-left: 6rem;
}
