.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding: 2rem 5rem;
}

.features h2,
.features h3 {
  width: 100%;
}

.features__page {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0rem 1rem;
}
