.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 2rem 5rem;
}

.features h2,
.features h3 {
  width: 100%;
}

.features__page {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
