.header {
  --h1-font-size: 1.5rem;
  --h2-font-size: 1rem;
  --logo-size: 5rem;
}

@media screen and (min-width: 800px) {
  .header {
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --logo-size: 10rem;
  }
}

.header {
  padding: auto;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: calc(var(--logo-size) * 1.25);
  height: var(--logo-size);
  position: relative;
  margin: 1rem;
}

.header__logo__tomato {
  position: absolute;
  left: calc(var(--logo-size) * 0.25);
}

.header__logo__clapperboard {
  position: absolute;
  left: 0;
}

.header__logo svg {
  width: var(--logo-size);
}

.header__title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--h1-font-size);
}

.header__title h2 {
  font-size: var(--h2-font-size);
}
