.navbar {
  position: fixed;
  width: calc(100% - 4rem);
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  z-index: 20;

  background-color: white;
  box-shadow: 0px 0px 0.5rem #888888;
}

.navbar-enter,
.navbar-exit-active {
  transform: translateY(-150%);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.navbar-enter-active {
  transform: translateY(0);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
