:root {
  --h1-font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
  :root {
    --h1-font-size: 3rem;
  }
}

.header {
  padding: auto;
  height: 100vh;
  max-height: 80vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: var(--h1-font-size);
}

.header hr {
  display: block;
  height: 2px;
  width: 30rem;
  max-width: 95%;
  border: 0;
  border-radius: 1px;
  background-color: var(--primary-color-a);
  margin: 0 auto;
  padding: 0;
}

.header__logo {
  width: 250px;
  height: 200px;
  position: relative;
}

.header__logo__tomato {
  position: absolute;
  left: 50px;
}

.header__logo__clapperboard {
  position: absolute;
  left: 0px;
  width: 200px;
}

.header__logo svg {
  width: 200px;
}
