:root {
  --background-color-dark-1: #333333;
  --background-color-dark-2: #1e1e1e;
  --font-color-light: #e6aa3b;
  --font-color-light-link: #e6aa3b;
  --font-color-light-link-hover: #f8b840;
  --font-color-light-link-hover-bg-1: #6b5120;
  --font-color-light-link-hover-bg-2: #997025;

  --background-color-light-1: #fafafa;
  --background-color-light-2: #e0e0e0;
  --font-color-dark: #333333;

  --primary-color-a: rgb(204, 133, 0);
}

.light-theme {
  background-color: var(--background-color-light-1);
  box-shadow: inset 0px 0px 5rem var(--background-color-light-2);
  color: var(--font-color-dark);
}

.dark-theme {
  background-color: var(--background-color-dark-1);
  box-shadow: inset 0px 0px 5rem var(--background-color-dark-2);
  color: var(--font-color-light);
}

.dark-theme a {
  color: var(--font-color-light-link);
  border-radius: 0.2rem;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.dark-theme a:hover {
  color: var(--font-color-light-link-hover);
  background-color: var(--font-color-light-link-hover-bg-1);
  box-shadow: inset 0px 0px 1rem var(--font-color-light-link-hover-bg-2);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
}

.section {
  padding: 4rem 1rem;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.section h3 {
  padding: 1rem;
}
