:root {
  --background-color-dark: #333333;
  --font-color-light: #e6aa3b;

  --font-color-dark: #333333;
  --background-color-light: #fafafa;

  --primary-color-a: rgb(204, 133, 0);
}

.light-theme {
  background-color: var(--background-color-light);
  color: var(--font-color-dark);
}

.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--font-color-light);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
}
